{% extends 'layout.html' %}


{% block body %}
<h1>Search Result</h1>
      <table class="table table-hover">
         <thead>
            <td>Action</td>
            <td>ID number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Middle Name</td>
            <td>Email</td>
            <td>Gender</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td><a href="/update_info/{{row.id_number}}">Edit</a></td>
               <td>{{row.id_number}}</td>
               <td>{{row.first_name}}</td>
               <td> {{ row.last_name}}</td>
               <td>{{row.middle_name}}</td>	
               <td>{{row.email}}</td>
               <td>{{row.gender}}</td>	
            </tr>
         {% endfor %}
      </table>
      <a class="btn btn-lg btn-primary" href = "/">Home</a>
      <a class="btn btn-lg btn-success" href = "/search">Search Again</a>
{% endblock %}